
/***********************************************/
/**************** DEMO PAGE ********************/
/***********************************************/

body {
  padding: 25px;
  background-color: #4c7c8e;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

/***************** FAKE BLOG  *******************/


.demo1__bar {
  height: 50px;
  display: flex;
  background-color: #f5f5f5;
  align-items: center;
  padding: 0px 5px;
}

.demo1__icon {
  font-size: 32px;
  margin: 10px;
}

.demo1__title {
  font-weight: bold;
  margin-right: 10px;
  /*font-size: 18px;*/
}

.demo1__textinput {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid lightgrey;
  height: 200px;
  font-weight: 100;
}

/************ HORIZONTAL DEMO PANEL  ***************/


.demo-panel {
  margin-top: 40px;
}

.demo-panel__header {
  background-color: #FFFFFF;
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px; 
  padding: 40px;
  min-height: 100px;
}

.demo-panel__footer {
  background-color: whitesmoke;
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px; 
  padding: 20px 40px;
  min-height: 100px;
}

/************** VERTICAL DEMO PANEL  **************/


.panel-wrapper {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  min-height: 400px;
  align-items: stretch;
}

.panel-left {
  background-color: #FFFFFF;
  border-top-left-radius: 10px; 
  border-bottom-left-radius: 10px; 
  padding: 40px;
  width:60%
  /*min-height: 400px;*/
}

.panel-right {
  background-color: whitesmoke;
  border-top-right-radius: 10px; 
  border-bottom-right-radius: 10px; 
  padding: 40px;
  width: 40%;
  /*min-height: 100px;*/
}

/***************** CONFIG TABLE *******************/


.config-table {
  width: 100%;
}

.config-table tr {
  border-top: 1px solid lightgray;
}

.config-table tr:first-of-type {
  border-top: 0px;
}

.config-table td {
  padding: 10px 0px;
}

.config-text {
  font-family: monospace;
  width: 30%;
}

/**************** MENU ITEM DEMO *********************/


.menu-item-container {
  border: 6px solid #4c7c8e;
  border-radius: 4px;
  width: 50%;
  margin: 0 auto;
}

/**************** BOX SIZING FIX *******************/


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/**************** UTILITY CLASSES *******************/


.bg-white {
  background-color: #FFFFFF;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-right-20 {
  margin-right: 20px;
}