<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="components/menu-item/menu-item.style.css">
  <link rel="stylesheet" href="components/mem-menu/mem-menu.style.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
  <div class="wrapper">
    <div ng-controller="MenuController as menu">
      
      <div class="panel-wrapper">
        <div class="panel-left">
          <div class="demo1__bar">
            <i class="material-icons demo1__icon">account_circle</i>
            <!-- <span class="demo1__title"></span> -->
            <mem-menu text="My Mini Blog">     
              <!-- <menu-item text="Turn On" type="checkbox"></menu-item> -->
              <menu-item text="Bold" helper-text="Cmd+B" ng-click="menu.boldText($event)" item-action="menu.boldText($event)"></menu-item>
              <menu-item text="Print" helper-text="Cmd+P" ng-click="menu.printPage($event)"></menu-item>
              <mem-menu text="Dropdown example" type="dropdown">
                <menu-item class="indented" text="A different Option" helper-text="Cmd+B" ng-click="menu.boldText($event)"></menu-item>
                <menu-item text="Again" icon="autorenew" helper-text="Cmd+P" ng-click="menu.printPage($event)"></menu-item>
                <menu-item class="indented" text="Again" helper-text="Cmd+P" ng-click="menu.printPage($event)"></menu-item>
              </mem-menu>
              <mem-menu text="Dropdown example" type="dropdown">
                <menu-item text="Issues" icon="build" helper-text="Cmd+P" ng-click="menu.printPage($event)"></menu-item>
                <menu-item text="Assign Jobs" icon="assignment" helper-text="Cmd+P" ng-click="menu.printPage($event)"></menu-item>
                <menu-item text="Current Jobs" icon="event" helper-text="Cmd+P" ng-click="menu.printPage($event)"></menu-item>
                <menu-item text="Job History" icon="assessment" helper-text="Cmd+P" ng-click="menu.printPage($event)"></menu-item>
              </mem-menu>
            </mem-menu>
            
            <mem-menu text="Post Categories">     
              <menu-item text="Turn On" type="checkbox"></menu-item>
              <menu-item text="Bold" helper-text="Cmd+B" ng-click="menu.boldText($event)" item-action="menu.boldText($event)"></menu-item>
              <menu-item text="Print" helper-text="Cmd+P" ng-click="menu.printPage($event)"></menu-item>
            </mem-menu>
            
            <mem-menu text="Followers">
              <menu-item text="Turn On" type="checkbox"></menu-item>
              <menu-item text="Turn On" type="checkbox"></menu-item>
            </mem-menu>
          </div>
          <div class="demo1__textinput">
            blog post textdump
          </div>
          <div class="demobar1__bar bg-white margin-top-20">
            <mem-menu text="Post Tags" class="margin-right-20">     
              <menu-item text="Turn On" type="checkbox"></menu-item>
              <menu-item text="Bold" helper-text="Cmd+B" ng-click="menu.boldText($event)" item-action="menu.boldText($event)"></menu-item>
              <menu-item text="Print" helper-text="Cmd+P" ng-click="menu.printPage($event)"></menu-item>
            </mem-menu>
            
            <mem-menu menu-open="true" text="Post Mood" class="margin-right-20">     
              <menu-item text="Turn On" type="checkbox"></menu-item>
              <menu-item text="Bold" helper-text="Cmd+B" ng-click="menu.boldText($event)" item-action="menu.boldText($event)"></menu-item>
              <menu-item text="Print" helper-text="Cmd+P" ng-click="menu.printPage($event)"></menu-item>
            </mem-menu>
            
            <mem-menu text="Publish Post">
              <menu-item text="Turn On" type="checkbox"></menu-item>
              <menu-item text="Turn On" type="checkbox"></menu-item>
            </mem-menu>
          </div>
        </div>
        <div class="panel-right">
          <p>
            These menus consist of two composable directives, Menus and Menu Items. The menu directive generates the 
            container structure and controls the visibility of the dropdown content. They take a custom title, can
            be set to load open or closed, and can be nested.
          </p>
          <p>
            Menu Items can be used independent of menus and can be configured several different ways.
            
          </p>
        </div>
      </div>
      
      <div class="panel-wrapper">
        <div class="panel-left">
          <div class="menu-item-container">
            <menu-item text="Bold" helper-text="Cmd+B" ng-click="menu.boldText($event)" item-action="menu.boldText($event)"></menu-item>
            <menu-item text="Bold" helper-text="Cmd+B" ng-click="menu.boldText($event)" item-action="menu.boldText($event)"></menu-item>
            <menu-item text="Bold" helper-text="Cmd+B" ng-click="menu.boldText($event)" item-action="menu.boldText($event)"></menu-item>
            <menu-item text="Bold" helper-text="Cmd+B" ng-click="menu.boldText($event)" item-action="menu.boldText($event)"></menu-item>
            <menu-item text="Bold" helper-text="Cmd+B" ng-click="menu.boldText($event)" item-action="menu.boldText($event)"></menu-item>
            <menu-item text="Bold" helper-text="Cmd+B" ng-click="menu.boldText($event)" item-action="menu.boldText($event)"></menu-item>
          </div>
        </div>
        <div class="panel-right">
          <p>
            Menu Items can be used independent of Menus. They conform to their containing element and accept all the same attributes.
          </p>
          <p>
            Menus and Menu Items are styled fairly unopinionatedly. They will adapt to inherited text styles.
          </p>
        </div>
      </div>
      
      <div class="demo-panel">
        <div class="demo-panel__header">
          <code style="font-size: 13.5px; line-height: 2em;">
            &lt;mem-menu text="My Mini Blog"&gt;      <br />
              &lt;menu-item text="Bold" helper-text="Cmd+B" ng-click="ctrl.myAction()" class="indented"&gt;&lt;/menu-item&gt; <br />
              &lt;menu-item text="Print" helper-text="Cmd+P" ng-click="ctrl.doThing()" icon="account_circle"&gt;&lt;/menu-item&gt; <br />
            &lt;/mem-menu&gt; <br />
          </code>
          
        </div>
        <div class="demo-panel__footer">
          <h3>Simple Menu Code Composition</h3>
        </div>
      </div>
      
        <div class="demo-panel">
          <div class="demo-panel__header">
            
            <table class="config-table">
              <tr>
                <td class="config-text">text="My Great Button"</td>
                <td>Sets displayed Menu Item title</td>
              </tr>
              <tr>
                <td class="config-text">helper-text="Cmd+P"</td>
                <td>Sets helper text displayed on the right of the Menu Item</td>
              </tr>
              <tr>
                <td class="config-text">icon="account_circle"</td>
                <td>Sets a Menu Item icon based on a Material Icons class name</td>
              </tr>
              <tr>
                <td class="config-text">class="indented"</td>
                <td>Indents Menu Item content. Useful for aligning with items Menu Items containing icons</td>
              </tr>
              <tr>
                <td class="config-text">ng-click="ctrl.action()"</td>
                <td>Takes a custom function defined within your controller to execute when the Menu Item is clicked</td>
              </tr>
              <tr>
                <td class="config-text">type="checkbox"</td>
                <td>Uses an alternate template for the Menu Item with a checkmark that can be toggled on and off</td>
              </tr>
            </table>
            
            
            <!-- <mem-menu text="Custom Title">     
                 <menu-item text="Turn On" type="checkbox"></menu-item>
                 <menu-item text="Bold" helper-text="Cmd+B" ng-click="menu.boldText($event)" item-action="menu.boldText($event)"></menu-item>
                 <menu-item text="Print" helper-text="Cmd+P" ng-click="menu.printPage($event)"></menu-item>
                 <mem-menu text="Dropdown example" type="dropdown">
                      <menu-item class="indented" text="A different Option" helper-text="Cmd+B" ng-click="menu.boldText($event)"></menu-item>
                      <menu-item text="Again" icon="autorenew" helper-text="Cmd+P" ng-click="menu.printPage($event)"></menu-item>
                      <menu-item class="indented" text="Again" helper-text="Cmd+P" ng-click="menu.printPage($event)"></menu-item>
                 </mem-menu>
                 <mem-menu text="Dropdown example" type="dropdown">
                   <menu-item text="Issues" icon="build" helper-text="Cmd+P" ng-click="menu.printPage($event)"></menu-item>
                   <menu-item text="Assign Jobs" icon="assignment" helper-text="Cmd+P" ng-click="menu.printPage($event)"></menu-item>
                   <menu-item text="Current Jobs" icon="event" helper-text="Cmd+P" ng-click="menu.printPage($event)"></menu-item>
                   <menu-item text="Job History" icon="assessment" helper-text="Cmd+P" ng-click="menu.printPage($event)"></menu-item>
                 </mem-menu>
            </mem-menu>
            
            <mem-menu menu-open=true text="Custom Title">     
                 <menu-item text="Bold" helper-text="Cmd+B" ng-click="menu.boldText($event)" item-action="menu.boldText($event)"></menu-item>
                 <menu-item text="Print" helper-text="Cmd+P" ng-click="menu.printPage($event)"></menu-item>
                 <mem-menu text="Dropdown example" type="dropdown">
                      <menu-item class="indented" text="A different Option" helper-text="Cmd+B" ng-click="menu.boldText($event)"></menu-item>
                      <menu-item text="Again" icon="autorenew" helper-text="Cmd+P" ng-click="menu.printPage($event)"></menu-item>
                      <menu-item class="indented" text="Again" helper-text="Cmd+P" ng-click="menu.printPage($event)"></menu-item>
                 </mem-menu>
                 <mem-menu text="Dropdown example" type="dropdown">
                   <menu-item text="Issues" icon="build" helper-text="Cmd+P" ng-click="menu.printPage($event)"></menu-item>
                   <menu-item text="Assign Jobs" icon="assignment" helper-text="Cmd+P" ng-click="menu.printPage($event)"></menu-item>
                   <menu-item text="Current Jobs" icon="event" helper-text="Cmd+P" ng-click="menu.printPage($event)"></menu-item>
                   <menu-item text="Job History" icon="assessment" helper-text="Cmd+P" ng-click="menu.printPage($event)"></menu-item>
                 </mem-menu>
            </mem-menu> -->
            
          </div>
          <div class="demo-panel__footer">
            <h3>Menu Item Config Settings</h3>
          </div>
        </div>  
      
      <div class="demo-panel">
        <div class="demo-panel__header">
          <table class="config-table">
            <tr>
              <td class="config-text">text="My Menu"</td>
              <td>Sets Menu title, displayed in the generated trigger button</td>
            </tr>
            <tr>
              <td class="config-text">menu-open="true"</td>
              <td>Menu is set to open when page is loaded</td>
            </tr>
            <tr>
              <td class="config-text">type="dropdown"</td>
              <td>Used to denote nested menus</td>
            </tr>
          </table>
        </div>
        <div class="demo-panel__footer">
          <h3>Menu Config Settings</h3>
        </div>
      </div>
  </div>
</div>

<!-- <div ng-controller="MenuController as menu"> -->
  

<!-- 
  </div>
  
  <hr>
  
  <menu-item class="indented" text="A different Option" helper-text="Cmd+B" ng-click="menu.boldText($event)"></menu-item> -->

  
<!-- </div> -->


  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="components/menu-item/menu-item.module.js"></script>
  <script src="components/menu-item/menu-item.directive.js"></script>
  <script src="components/mem-menu/mem-menu.module.js"></script>
  <script src="components/mem-menu/mem-menu.directive.js"></script>
  
</body>
</html>


