mem-menu {
  position: relative;
}

mem-menu-content {
  display: none;
  border: 1px solid #DADADA;
  width: 300px;
  box-shadow: 0px 1px 2px 0px #D6D6D6;
  padding: 10px 0px;
  background-color: #FFFFFF;
}

mem-menu-content.menu-open {
  display:block;
}

.trigger-button {
  background-color: whitesmoke;
  border: 1px solid lightgrey;
}

/*.menu-bar {
  background-color: cadetblue;
  border: 2px solid cadetblue;
  height: 40px;
}*/

mem-menu-content .trigger-button {
  background: #FFFFFF;
  height: 35px;
  padding: 0px 12px;
  border: 0px;
  width: 100%;
  text-align: left;
}

mem-menu-content .trigger-button:before {
  content: ">";
  position: absolute;
  right: 12px;
}

mem-menu-content .trigger-button:hover {
  background-color: lightgray;
}

mem-menu-content mem-menu-content {
  position: absolute;
  left: 301px;
  top: -8px;
}