
menu-item {
  position: relative;
}
.menu-button {
  background-color: #FFFFFF;
  /*height: 30px;*/
  padding: 6px;
  border: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu-item__icon {
  position: absolute;
  z-index: 10;
  top: 5px;
  padding-left: 6px;
}

.menu-button.indented {
  padding-left: 40px;
}

menu-item:hover .menu-button {
  background-color: lightgray;
}