
/*****************************************************/
/************ MENU ITEM DIRECTIVE STYLES**************/
/*****************************************************/

menu-item {
  position: relative;
}

/**************** MENU BUTTON *************************/

.menu-button {
  background-color: #FFFFFF;
  height: 35px;
  padding: 0px 12px;
  border: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

button:focus {
  outline: 0;
}

menu-item:hover .menu-button {
  background-color: #f5f5f5;
}
/*********** CONFIGURABLE OPTIONS STYLES******************/

/* Menu with icon */
 
.menu-item__icon {
  position: absolute;
  z-index: 10;
  top: 5px;
  padding-left: 12px;
}

/* Indented menu item */
.menu-button.icon-indented,
menu-item.indented .menu-button {
  padding-left: 44px;
}

/* Disabled menu item */
menu-item[disabled] {
  color: lightgrey; 
  cursor: default;
  pointer-events: none; 
}

menu-item[disabled]:hover .menu-button {
  background-color: #FFFFFF;
}















